.btn-customs {
    border-radius: 34px!important;
    background: #FE4040 !important;
    /*border-radius: 37px!important;*/
    /*background: #BE0B28;*/
    /*box-shadow: inset -5px -5px 24px #89081d!important;,*/
    /*inset 5px 5px 24px #f30e33;*/
}

.nav-link {
    font-weight: 700;
    color: #002E50!important;
}

.nav-link::before {
    transition: 500ms;
    height: 3px;
    content: "";
    position: absolute;
    background-color: #002E50;
}

.nav-link-ltr::before {
    width: 0%;
    bottom: 0px;
}

.nav-link-ltr:hover::before {
    width: 100%;
}

body {
    font-family: 'Open Sans', sans-serif!important;
}

@font-face {
    font-family: Heading!important;
    src: url(../svg/HotPizza.ttf)!important;
}

.font_head {
    font-family: Heading!important;
}

.btn-shadow {
    border-radius: 37px!important;
    /*background: #ffffff!important;*/
    /*box-shadow:  5px 5px 10px #c7c7c7!important;,*/
    /*-5px -5px 10px #ffffff!important;*/
}

.card_style {
    border-radius: 5px!important;
    background: #ffffff;
    box-shadow: 5px 5px 10px #c7c7c7, -5px -5px 10px #ffffff!important;
}

.web-color {
    color: #002E50!important;
}

.bg-color-se {
    background: #002E50!important;
}

.bg-color {
    background: #F9F9F9!important;
}

.web-color_se {
    color: #F8CB00!important;
}

.btn-inside {
    border-radius: 34px!important;
    background: #ffffff;
    box-shadow: inset 5px 5px 13px #d6d6d6, inset -5px -5px 13px #ffffff!important;
}

.cat-style::after {
    content: "";
    width: 200px;
    background: #FF1E56;
}


/*.pizza{*/


/*    font-family: 'Trade Winds', cursive!important;*/


/*}*/

.menu {
    background-image: url('../svg/resturant/menubanner.jpg');
    background-repeat: no-repeat;
}

.ribbon {
    position: absolute;
    right: -5px;
    top: -5px;
    z-index: 1;
    overflow: hidden;
    width: 75px;
    height: 75px;
    text-align: right;
}

.ribbon span {
    font-size: 10px;
    font-weight: bold;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    line-height: 20px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    width: 100px;
    display: block;
    background: #79A70A;
    background: linear-gradient(#FF1E56 0%, #FF1E56 100%);
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    position: absolute;
    top: 19px;
    right: -21px;
}

.ribbon span::before {
    content: "";
    position: absolute;
    left: 0px;
    top: 100%;
    z-index: -1;
    border-left: 3px solid #FF1E56;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #FF1E56;
}

.ribbon span::after {
    content: "";
    position: absolute;
    right: 0px;
    top: 100%;
    z-index: -1;
    border-left: 3px solid transparent;
    border-right: 3px solid #FF1E56;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #FF1E56;
}

.btn-floating {
    position: relative;
    z-index: 1;
    display: inline-block;
    padding: 0;
    margin: 10px;
    overflow: hidden;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 50%;
    -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    width: 47px;
    height: 47px;
}

.btn i {
    display: inline-block;
    width: inherit;
    color: #fff;
    text-align: center;
    font-size: 1.25rem!important;
    line-height: 47px;
}

.btn-fb {
    background: #fff !important;
}

.btn-tw {
    background: #55acee !important;
}

.btn-gplus {
    background-color: #fff !important;
}

.btn-li {
    background-color: #0082ca !important
}

.social_card {
    border-radius: 5px!important;
    background: #ffffff;
    box-shadow: none!important;
}

.btn-inside_se {
    /*border-radius: 10px!important;*/
    /*background: #ffffff;*/
    /*box-shadow: inset -9px -9px 18px #d6d6d6,*/
    /*inset 9px 9px 18px #ffffff!important;*/
    border-radius: 50px!important;
    background: #ffffff!important;
    box-shadow: inset 5px 5px 8px #cccccc, inset -5px -5px 8px #ffffff!important;
}

.login_btn {
    border-radius: 50px!important;
    background: #ffffff;
    box-shadow: 5px 5px 46px #b0b0b0, -5px -5px 46px #ffffff!important;
}

.border-right {
    border-right: 1px solid #777777;
}

.border-bottom {
    border-bottom: 1px solid #E6E6E6;
}

.list-group-item.active {
    background: #002E50 !important;
    display: block;
    padding: 10px 15px;
    color: rgba(0, 0, 0, .9);
    line-height: 20px;
    text-transform: none;
    font-size: 14px;
    font-weight: 600;
    border: none;
    border-radius: 0px;
}

.list-group-item {
    border: none!important;
}

.icon-style {
    color: #002E50!important;
    transition: 1s linear;
}

.dash-hover:hover {
    color: #002E50!important;
    text-decoration: none;
}

.dash-card {
    transition: all 1s linear;
    cursor: pointer;
}

.dash-card:hover {
    background: #F1F1F1!important;
    transition: 1s linear;
}

.font-size-40 {
    font-size: 40px;
}

.dash-card:hover .icon-style {
    color: #002E50!important;
    transition: 1s linear;
}

.edit-add:hover {
    color: #002E50!important;
    text-decoration: none;
}

.btn-color {
    background: #ff1e56!important;
    color: #fff!important;
    border-radius: 50px!important;
}

.slider-text {
    font-size: 60px!important;
    font-family: 'Dancing Script', cursive!important;
    letter-spacing: 7px!important;
}

.slider-spacing {
    padding-left: 3rem!important;
    padding-right: 3rem!important;
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
    margin-right: 3rem !important;
    margin-left: 3rem !important;
}

.card-cont {
    transition: all 1s;
}

.card-cat:hover .card-cont {
    transform: scale(1.2);
    text-shadow: 1px 1px 2px black, 0 0 1em red, 0 0 0.2em red
}

.navbar-brand {
    padding-left: 3rem;
}

.explore-btn {
    transition: all 1s linear!important;
}


/* .explore-btn:hover {
    display: none;
}

.explore {
    transition: all 1s!important;
    cursor: pointer;
}

.explore-btn:hover:before {
    content: "Our Delicious Menu"!important;
    color: #dc3545!important;
    font-weight: bold;
}

*/

@keyframes click-wave {
    0% {
        height: 40px;
        width: 40px;
        opacity: 0.35;
        position: relative;
    }
    100% {
        height: 200px;
        width: 200px;
        margin-left: -80px;
        margin-top: -80px;
        opacity: 0;
    }
}

.option-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    position: relative;
    top: 13.33333px;
    right: 0;
    bottom: 0;
    left: 0;
    height: 40px;
    width: 40px;
    transition: all 0.15s ease-out 0s;
    background: #cbd1d8;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin-right: 0.5rem;
    outline: none;
    position: relative;
    z-index: 1000;
}

.option-input:hover {
    background: #9faab7;
}

.option-input:checked {
    background: #40e0d0;
}

.option-input:checked::before {
    height: 40px;
    width: 40px;
    position: absolute;
    content: '✔';
    display: inline-block;
    font-size: 26.66667px;
    text-align: center;
    line-height: 40px;
}

.option-input:checked::after {
    -webkit-animation: click-wave 0.65s;
    -moz-animation: click-wave 0.65s;
    animation: click-wave 0.65s;
    background: #40e0d0;
    content: '';
    display: block;
    position: relative;
    z-index: 100;
}

.option-input.radio {
    border-radius: 50%;
}

.option-input.radio::after {
    border-radius: 50%;
}

body label {
    display: block;
    line-height: 40px;
}
.bulgy-radios {
    background: #fff;
    border-radius: 1rem;
}

.bulgy-radios label {
    display: block;
    position: relative;
    height: 1em;
    padding-left: 2rem;
    margin-bottom: 1.75rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #555;
    letter-spacing: 1px;
}

.bulgy-radios label:hover input:not(:checked)~.radio-size {
    opacity: 0.8;
}

.bulgy-radios .label {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.bulgy-radios .label span {
    line-height: 1em;
}

.bulgy-radios input {
    position: absolute;
    cursor: pointer;
    height: 0;
    width: 0;
    left: -2000px;
}

.bulgy-radios input:checked~.radio-size {
    background-color: #0ac07d;
    -webkit-transition: background 0.3s;
    transition: background 0.3s;
}

.bulgy-radios input:checked~.radio-size::after {
    opacity: 1;
}

.bulgy-radios input:checked~.label {
    color: #0bae72;
}

.bulgy-radios input:checked~.label span {
    -webkit-animation: bulge 0.5s forwards;
    animation: bulge 0.5s forwards;
}

.bulgy-radios input:checked~.label span:nth-child(1) {
    -webkit-animation-delay: 0.025s;
    animation-delay: 0.025s;
}

.bulgy-radios input:checked~.label span:nth-child(2) {
    -webkit-animation-delay: 0.05s;
    animation-delay: 0.05s;
}

.bulgy-radios input:checked~.label span:nth-child(3) {
    -webkit-animation-delay: 0.075s;
    animation-delay: 0.075s;
}

.bulgy-radios input:checked~.label span:nth-child(4) {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

.bulgy-radios input:checked~.label span:nth-child(5) {
    -webkit-animation-delay: 0.125s;
    animation-delay: 0.125s;
}

.bulgy-radios input:checked~.label span:nth-child(6) {
    -webkit-animation-delay: 0.15s;
    animation-delay: 0.15s;
}

.bulgy-radios input:checked~.label span:nth-child(7) {
    -webkit-animation-delay: 0.175s;
    animation-delay: 0.175s;
}

.bulgy-radios input:checked~.label span:nth-child(8) {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.bulgy-radios input:checked~.label span:nth-child(9) {
    -webkit-animation-delay: 0.225s;
    animation-delay: 0.225s;
}

.bulgy-radios input:checked~.label span:nth-child(10) {
    -webkit-animation-delay: 0.25s;
    animation-delay: 0.25s;
}

.bulgy-radios input:checked~.label span:nth-child(11) {
    -webkit-animation-delay: 0.275s;
    animation-delay: 0.275s;
}

.bulgy-radios input:checked~.label span:nth-child(12) {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.bulgy-radios input:checked~.label span:nth-child(13) {
    -webkit-animation-delay: 0.325s;
    animation-delay: 0.325s;
}

.bulgy-radios input:checked~.label span:nth-child(14) {
    -webkit-animation-delay: 0.35s;
    animation-delay: 0.35s;
}

.bulgy-radios input:checked~.label span:nth-child(15) {
    -webkit-animation-delay: 0.375s;
    animation-delay: 0.375s;
}

.bulgy-radios input:checked~.label span:nth-child(16) {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.bulgy-radios input:checked~.label span:nth-child(17) {
    -webkit-animation-delay: 0.425s;
    animation-delay: 0.425s;
}

.bulgy-radios input:checked~.label span:nth-child(18) {
    -webkit-animation-delay: 0.45s;
    animation-delay: 0.45s;
}

.bulgy-radios input:checked~.label span:nth-child(19) {
    -webkit-animation-delay: 0.475s;
    animation-delay: 0.475s;
}

.radio-size {
    position: absolute;
    top: 0.2rem;
    left: 0;
    width: 1.5rem;
    height: 1.5rem;
    background: #c9ded6;
    border-radius: 50%;
}

.radio-size::after {
    content: "";
    position: absolute;
    opacity: 0;
    top: 0.5rem;
    left: 0.5rem;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background: #fff;
}

@-webkit-keyframes bulge {
    50% {
        -webkit-transform: rotate(4deg);
        transform: rotate(4deg);
        font-size: 1.5em;
        font-weight: bold;
    }
    100% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
        font-size: 1em;
        font-weight: bold;
    }
}

@keyframes bulge {
    50% {
        -webkit-transform: rotate(4deg);
        transform: rotate(4deg);
        font-size: 1.5em;
        font-weight: bold;
    }
    100% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
        font-size: 1em;
        font-weight: bold;
    }
}

@media only screen and (max-width: 600px) {
    .slider-text {
        font-size: 200% !important;
    }
    .slider-spacing {
        padding-left: 0rem !important;
        padding-right: 0rem !important;
        padding-top: 0rem !important;
        padding-bottom: 0rem !important;
        margin-right: 0rem !important;
        margin-left: 0rem !important;
    }
    .slider-img {
        margin-bottom: 2rem;
    }
    .navbar-brand {
        padding-left: 0rem;
    }
    .footer {
        background: #002E50!important;
    }
}

.footer {
    background-image: url("../svg/resturant/footer.jpg");
    background-size: cover;
}